doctype 5
html
	head
		link(rel="stylesheet", type="text/css", href="style.css")
		link(rel="stylesheet", type="text/css", href="lib/cartodb-leaflet/css/leaflet.css")
		link(rel="stylesheet", type="text/css", href="lib/cartodb-leaflet/css/cartodb-leaflet.css")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	body(onload="main()")
		#map
		script(src="lib/cartodb-leaflet/js/leaflet.js")
		script(src="lib/cartodb-leaflet/js/wax.leaf.js")
		script(src="lib/cartodb-leaflet/dist/cartodb-leaflet.js")
		script(src="lib/cartodb-leaflet/dist/cartodb-popup.js")
		script(src="W.js");
		script(src="main.js")